.cabeçalho 
{background-color: black;
    color: rgb(241, 13, 13);
    display: flex;
justify-content: space-around;}

.cabeçalho-imagem
{width: 10%	;}

.cabeçalho-items *
{display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;}



.corpo
{background-color: black;
color: aliceblue;
display: flex;}

.corpo-items
{display: inline-block;
margin: 0%;
padding: 50px;
font-size: 12px;}